@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

body {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;

    @include from-medium {
      font-size: 28px
    }

    @include from-large {
      font-size: 40px;
    }
}

h2 {
    font-family: "Montserrat";
    font-size: 20px;

    @include from-medium {
      font-size: 24px
    }

    @include from-large {
      font-size: 30px;
    }
}

h3 {
  font-family: "Montserrat";
  font-size: 16px;

  @include from-medium {
    font-size: 20px;
  }

  @include from-large {
    font-size: 24px;
  }
}

a {
  color: black;
  font-family: "Mo";
  &:hover, &:focus {
    text-decoration: none;
    color: black;
  }
}

p {
  font-family: "Montserrat";
  font-size: 16px;

  @include from-large {
    font-size: 20px;
  }
}


// NAVBAR

.navbar-seven {
  background-color: rgba(255,255,255,0);
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  transition: all 0.8s ease;

  img {
    height: 33px;
    // width: 150px;
    margin: 7px 0;
  }
}

.scrolled {
  background-color: white;
}

.navbar-links {
  height: 50.8px;
  margin: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;

  a {
    text-decoration: none;
    color: black;
    font-family: "Montserrat";
  }
}

@include from-medium {
    .navbar-seven {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-left: 20px;

        .navbar-links {
          display: flex;
          justify-content: flex-end;
            a {
              margin: 0 20px;
              font-size: 19px;
              border: solid 3px rgba(255,255,255,0);

              &:hover {
                border-bottom: solid 3px rgb(233, 95, 72);
              }
            }
        }
    }
}


// -------------------------------------------------------------------

// BANNER

.home-banner {
  height: 100vh;
  max-height: 1080px;
  width: 100vw;
  max-width: 1440px;
  background-color: black;
  text-align: left;
  position: relative;
  margin-top: -50.8px;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 65% 100%;
  }
  @include from-xlarge {
    background-position: 0 100%;
  }
}

.gradient {
  max-height: 1080px;
  max-width: 1440px;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.home-banner-title {
  z-index: 10;
  height: 35vh;
  padding: 50px;
  position: absolute;
  top: 15%;
  color: white;

  h1 {
    z-index: 3;
  }

  h2 {
    margin-bottom: 50px;
    font-weight:300;

    @include from-medium {
      padding-right: 60%;
    }
  }
}

//--------------------------------------------------------------------

// VSION

.invest-vision {
  padding: 50px 15px;
  position: relative;
  text-align: center;

  @include from-large {
    padding: 50px 200px;
  }
}

.invest-vision > h2 {
  font-family: 'Montserrat';
  text-align: center;
  font-weight: 600;
}

// -------------------------------------------------------------------

// PORTFOLIO

.invest-portfolio {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.invest-portfolio > h2 {
  font-family: 'Montserrat';
  font-weight: 600;
}

.invest-portfolio-card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(136,136,136,0.8);
  margin-bottom: 100px;

  @include from-medium {
    width: 400px;
    height: 400px;
  }

  @include from-large {
    flex-direction: row;
    width: 1000px;
    height: 400px;
  }
}

.card-flip {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 150px;
  @include from-medium-low {
    grid-template-columns: 1fr 1fr;
  }
}

.invest-portfolio-card-img {
  width: 100%;
  height: 300px;

  @include from-medium {
    width: 100%;
    height: 400px;
  }

  @include from-large {
    width: 100%;
    height: 400px;
  }
}

.invest-portfolio-card-text {
  width: 100%;
  height: 300px;
  padding: 20px 20px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include from-medium {
    width: 100%;
    height: 400px;
  }

  @include from-large {
    width: 100%;
    height: 400px;
  }
}

.invest-portfolio-card-text > h3 {
  margin-top: 0;
  font-family: 'InfoDispBold Roman';
  font-size: 16px;

  @include from-medium {
    font-size: 20px;
  }

  @include from-large {
    font-size: 24px;
  }
}

.invest-portfolio-card-text > h4 {
  margin-top: 0;
  font-family: 'InfoDispBook Italic';
  font-size: 16px;

  @include from-medium {
    font-size: 17px;
  }

  @include from-large {
    font-size: 24px;
  }
}

.invest-portfolio-card-text > p {
  font-size: 12px;

  @include from-medium {
    font-size: 14px;
  }

  @include from-large {
    font-size: 18px;
  }
}

.switch-img {
  background-image: url('/assets/img/switch_collective.jpg');
  background-size: cover;
  background-position: 45% 0;
}

.plume-img {
  background-image: url('/assets/img/plume.png');
  background-size: cover;
  background-position: 45% 0;
}

.invest-portfolio-card-logo {
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;

  @include from-medium {
    height: 65px;
  }

  @include from-xlarge {
    height: 80px;
  }
}





// -----------------------------------------------------------------

// ANCHOR

#vision-anchor, #portfolio-anchor {
  position: absolute;
  top: 0;
}

// -----------------------------------------------------------------

// FOOTER

.footer-lab-seven {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(0,0,0);
  padding: 2rem;

  p {
    width: 100px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.6rem;
    color: white;
  }

  a {
    width: 100px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: rgba(255,255,255,0.8);
    margin: 0;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }

  p, a {
    margin-bottom: 1rem;
  }

  @include from-medium {
    height: 160px;
    // padding: 3rem 10rem 3rem 6rem;
    padding: 3rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer-lab-logo {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  img {
    margin-bottom: 1rem;
  }

  p {
    font-family: 'Montserrat';
    font-size: 14px;
    // width: auto;
    margin: 0;
  }

  @include from-medium {
    border-right: 2px solid white;
    padding-right: 3rem;
    margin-bottom: 0;

    img {
      margin: 1rem;
    }
  }
}

.footer-lab-div {
  margin-bottom: 20px;

  @include from-medium {
    margin: 0;
  }
}

#seven-logo-footer {
  height: 5rem;
}

.footer-lab-media {
  margin: 0 1rem;

  p {
    width: auto;
  }

  @include from-medium {
    margin: 0 2rem 0 0;
  }
}


.footer-lab-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90px;

  a {
    margin: 0;
    // text-align: center;
    transition: all .25s ease-in-out;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    i {
      font-size: 14px;
    }

    &:hover {
      color: #95B9DB;
    }
  }
}

.footer-lab-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a:nth-of-type(1) {

    &:hover {
      color: white;
    }
  }

  a:nth-of-type(2) {

    &:hover {
      color: #FBC84A;
    }
  }

  a:nth-of-type(3) {

    &:hover {
      color: #95B9DB;
    }
  }

  a:nth-of-type(4) {

    &:hover {
      color: #3DA1A9;
    }
  }

  a:nth-of-type(5) {

    &:hover {
      color: #E95F48;
    }
  }
}

// TRAININGS

.footer-trainings-seven {
  width: 100%;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: minmax(75px, auto);;
  background-color: rgb(0,0,0);
  padding: 20px 50px;
  margin-top: 50px;

  p {
    width: 100px;
    font-family: 'Montserrat';
    font-weight: 700;
  }

  a {
    width: 100px;
    font-family: 'Montserrat';
    font-weight: 200;
  }

  @include from-medium {
    height: 170px;
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

// TRAINING PAGE

.footer-seven-training-page {

  p {
    color: black;
  }
}

.flex-row-between-start {
  display: flex;
}


.card-1 {
  margin-bottom: 300px;
  margin: 0px 30px;
  height: 100%;
  width: 100%;
  perspective: 100rem;
  position: relative;

  p {
    font-size: 12px;
    font-weight: 300;
  }

  &__side {
    height: 400px;
    width: 400px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: all 700ms ease;
    backface-visibility: hidden;

    &--front {

    }

    &--back {
      background-color: white;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  @include from-medium-high {
    height: 400px;
    width: 400px;
    p {
      font-size: 14px;
    }
  }
}

.card-2 {
  margin-bottom: 300px;
  margin: 0px 30px;
  height: 100%;
  width: 100%;
  perspective: 100rem;
  position: relative;

  p {
    font-size: 12px;
    font-weight: 300;
  }

  &__side {
    height: 400px;
    width: 400px;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: all 700ms ease;
    backface-visibility: hidden;

    &--front {

    }

    &--back {
      background-color: white;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  @include from-medium-high {
    height: 400px;
    width: 400px;
    p {
      font-size: 14px;
    }
  }
}
