body {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
    font-family: "InfoDispBold Roman";
    font-size: 24px;

    @include from-medium {
      font-size: 28px
    }

    @include from-large {
      font-size: 40px;
    }
}

h2 {
    font-family: "InfoText Normal";
    font-size: 20px;

    @include from-medium {
      font-size: 24px
    }

    @include from-large {
      font-size: 30px;
    }
}

h3 {
  font-family: "Infotext Normal";
  font-size: 16px;

  @include from-medium {
    font-size: 20px;
  }

  @include from-large {
    font-size: 24px;
  }
}

a {
  color: black;
  font-family: "InfoDispSemiBold Roman";
  &:hover, &:focus {
    text-decoration: none;
    color: black;
  }
}

p {
  font-family: "InfoText Normal";
  font-size: 16px;

  @include from-large {
    font-size: 20px;
  }
}


// NAVBAR

.navbar-seven {
  background-color: rgba(255,255,255,0);
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  transition: all 0.8s ease;

  img {
    height: 33px;
    // width: 150px;
    margin: 7px 0;
  }
}

.scrolled {
  background-color: white;
}

.navbar-links {
  height: 50.8px;
  margin: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  display: none;

  a {
    text-decoration: none;
    color: black;
    font-family: "InfoDispSemiBold Roman";
  }
}

@include from-medium {
    .navbar-seven {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-left: 20px;

        .navbar-links {
          display: flex;
          justify-content: flex-end;
            a {
              margin: 0 20px;
              font-size: 19px;
              border: solid 3px rgba(255,255,255,0);

              &:hover {
                border-bottom: solid 3px rgb(233, 95, 72);
              }
            }
        }
    }
}


// -------------------------------------------------------------------

// BANNER

.home-banner {
  height: 100vh;
  max-height: 1080px;
  width: 100vw;
  max-width: 1440px;
  background-image: url("/assets/img/banner_seven_invest.jpg");
  background-size: cover;
  background-position: 65% 100%;
  text-align: left;
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  overflow: auto;
  margin-top: -50.8px;

  @include from-xlarge {
    background-position: 0 100%;
    min-height: 750px;
  }
}

.home-banner-title {
  height: 35vh;
  padding: 50px;
  position: absolute;
  top: 15%;
  color: white;

  h1 {

  }

  h2 {
    margin-bottom: 50px;

    @include from-medium {
      padding-right: 60%;
    }
  }
}

//--------------------------------------------------------------------

// VSION

.invest-vision {
  padding: 50px 15px;
  position: relative;

  @include from-large {
    padding: 50px 200px;
  }
}

.invest-vision > h2 {
  font-family: 'InfoDispBold Roman';
  text-align: center;
}

// -------------------------------------------------------------------

// PORTFOLIO

.invest-portfolio {
  padding: 50px 15px 0 15px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include from-medium {
    padding: 50px 100px 0 100px;
  }

  @include from-xlarge {
    padding: 50px 200px 0 200px;
  }
}

.invest-portfolio > h2 {
  font-family: 'InfoDispBold Roman';
}

.invest-portfolio-card {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(136,136,136,0.8);
  margin-bottom: 100px;

  @include from-medium {
    width: 400px;
    height: 800px;
  }

  @include from-large {
    flex-direction: row;
    width: 1000px;
    height: 500px;
  }
}

.invest-portfolio-card-img {
  width: 100%;
  height: 300px;

  @include from-medium {
    width: 100%;
    height: 400px;
  }

  @include from-large {
    width: 50%;
    height: 500px;
  }
}

.invest-portfolio-card-text {
  width: 100%;
  height: 300px;
  padding: 20px 20px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include from-medium {
    width: 100%;
    height: 400px;
  }

  @include from-large {
    width: 50%;
    height: 500px;
  }
}

.invest-portfolio-card-text > h3 {
  margin-top: 0;
  font-family: 'InfoDispBold Roman';
  font-size: 16px;

  @include from-medium {
    font-size: 20px;
  }

  @include from-large {
    font-size: 24px;
  }
}

.invest-portfolio-card-text > h4 {
  margin-top: 0;
  font-family: 'InfoDispBook Italic';
  font-size: 16px;

  @include from-medium {
    font-size: 20px;
  }

  @include from-large {
    font-size: 24px;
  }
}

.invest-portfolio-card-text > p {
  font-size: 12px;

  @include from-medium {
    font-size: 16px;
  }

  @include from-large {
    font-size: 20px;
  }
}

.switch-img {
  background-image: url('/assets/img/switch_collective.jpg');
  background-size: cover;
  background-position: 45% 0;
}

.plume-img {
  background-image: url('/assets/img/plume.png');
  background-size: cover;
  background-position: 45% 0;
}

.invest-portfolio-card-logo {
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;

  @include from-medium {
    height: 65px;
  }

  @include from-xlarge {
    height: 80px;
  }
}

// -----------------------------------------------------------------

// ANCHOR

#vision-anchor, #portfolio-anchor {
  position: absolute;
  top: 0;
}

// -----------------------------------------------------------------

// FOOTER

.footer {
  // width: 100vw;
  min-height: 250px;
  padding: 25px 50px;
  background-color: rgb(96, 96, 96);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include from-large {
    flex-direction: row;
  }
}

.footer-main {
  text-align: center;
  margin: 10px 0;

  @include from-large {
    display: block;
    width: 20%;
    text-align: left;
    // margin-right: 40px;
    padding-right: 20px;
    border-right: 3px solid rgb(51, 51, 51);
  }

  @include from-xlarge {

  }
}

.footer-main > p {
  margin: 0 auto;
  text-align: center;

  @include from-large {
    text-align: left;
  }
}

.footer-categories-container {
  display: grid;

  @include from-large {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }
}

.footer-categories {
  width: auto;
  height: auto;
  text-align: center;
  margin: 10px 0;

  @include from-large {
    width: 200px;
    text-align: left;
    padding-left: 60px;
  }
}

#footer-categories1 {
  grid-column: 1;
  grid-row: 1;
}

#footer-categories2 {
  grid-column: 2;
  grid-row: 1;
}

#footer-categories3 {
  grid-column: 1;
  grid-row: 2;
}

#footer-categories4 {
  grid-column: 2;
  grid-row: 2;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links > a {
  margin: 0;
}

.footer-main, .footer-categories {
  h3, h4 {
    font-family: "InfoDispBold Roman";
  }
  h3 {
    margin: 20px 0;

    @include from-medium {
      font-size: 24px;
      margin: 17px 0;
    }
  }
  h4 {
    font-size: 18px;
    margin: 20px 0;
  }
  p, a {
    font-family: "InfoDispBook Roman";
    font-size: 16px;

    @include from-large {
      width: auto;
      font-size: 20px;
    }
  }
  a:hover {
    color: rgb(51, 51, 51);
  }
}

.seven-main-link > h3 {
  color: rgb(51, 51, 51);
  width: auto;
  &:hover {
    color: black;
  }
}

.contact-button {
  background-color: rgba(58, 162, 172, 0.7);
  font-family: 'InfoDispBold Roman';
  border: none;
  &:hover {
    background-color: rgba(58, 162, 172, 1);
  }
}
